services:
  # PostgreSQL Database for storing weather data
  postgres:
    image: postgres:13
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./postgres/init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER}" ]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - airflow_net

  # pgAdmin for visual management of PostgreSQL
  pgadmin:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
    ports:
      - "5050:80"
    depends_on:
      - postgres
    networks:
      - airflow_net

  # Apache Airflow for scheduling and ETL logic
  airflow:
    image: apache/airflow:2.9.1-python3.11
    restart: always
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres/airflow
      AIRFLOW__WEBSERVER__DEFAULT_USER_USERNAME: ${AIRFLOW_USER}
      AIRFLOW__WEBSERVER__DEFAULT_USER_PASSWORD: ${AIRFLOW_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      OPENWEATHER_API_KEY: ${OPENWEATHER_API_KEY}
      _PIP_ADDITIONAL_REQUIREMENTS: requests psycopg2-binary
    volumes:
      - ./dags:/opt/airflow/dags
    ports:
      - "8080:8080"
    command: >
      bash -c " echo 'Waiting for postgres...'; sleep 5; echo 'Installing Python dependencies...'; pip install --no-cache-dir requests psycopg2-binary; echo 'Initializing Airflow database...'; airflow db migrate; echo 'Creating Airflow admin user...'; airflow users create -u \$${AIRFLOW_USER} -p \$${AIRFLOW_PASSWORD} -f Airflow -l Admin -r Admin -e admin@example.com || true; echo 'Starting Airflow webserver and scheduler...'; airflow webserver & airflow scheduler "
    networks:
      - airflow_net

  # Metabase for dashboard and visualization
  metabase:
    image: metabase/metabase
    ports:
      - "3000:3000"
    depends_on:
      - postgres
    networks:
      - airflow_net

# Define named volumes for persistence
volumes:
  postgres_data:

    # Define shared Docker network
networks:
  airflow_net:
